@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: url('../../public/Polygon Luminary-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  font-style: oblique;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}